<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/mystyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
  <div class="container-fluid">
    <div class="myrow1 row">
      <nav class="navbar navbar-expand" data-bs-theme="dark" style="background-color: #4535C1;">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">Camshoppy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="register.html">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="Rentalservice.html">Rental service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Buycam.html">Buy a Camera</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Buylen.html">Buy a lens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Bookservice.html">Book camera servicing slot</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-warning " type="submit">Search Cameras</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <div class="myrow2 row">
      <div class="box col-2">
        <h6 class="mt-4">Filter By Category</h6>
        <hr>
        <a href="">All Products</a><br>
        <a href="">Camera</a><br>
        <a href="">Lenses</a><br>
        <a href="">Accessories</a><br>
        <a href="">Stores list</a>
        <hr>
        <form action="">
          <div class="col-auto">
            <label class="col-form-label">Min:</label>
          </div>
          <div class="col-auto">
            <input type="text" class="col-form-lable" name="min">
          </div>
          <div class="col-auto">
            <label class="col-form-label">Max:</label>
          </div>
          <div class="col-auto">
            <input type="text" class="col-form-lable" name="max">
          </div>
          <div>
            <input class="mt-2 btn btn-warning" type="submit" value="Search">
          </div>
        </form>
        <hr>
        <h6 class="mt-4">Sort By Category</h6>
        <hr>
          <a href="">Nikon</a><br>
          <a href="">Sony</a><br>
          <a href="">Canon</a><br>
          <a href="">Fujifilm</a><br>
          <a href="">Tamron</a><br>
          <a href="">Sigma</a>
          <hr>
      </div>
      <div class="box col-10">
        <div class="row mx-auto">
          <!-- product 1 -->
          <div class="card col-md-3 m-2" style="width: 18rem;">
            <img src="../static/images/Nikkor800mm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nikkor 800mm f/6.3</h5>
              <p class="card-text">Introducing the NIKKOR Z 800mm f/6.3 lens, a super-telephoto prime lens with the
                longest focal length in the NIKKOR Z line-up.
              </p>
              <strong>Rs. 5870000</strong><br>
              <a href="details.html" class="btn btn-primary">View Details</a>
              <a href="cart.html" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <!-- product 1 -->
          <div class="card col-md-3 m-2" style="width: 18rem;">
            <img src="../static/images/Nikkor800mm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nikkor 800mm f/6.3</h5>
              <p class="card-text">Introducing the NIKKOR Z 800mm f/6.3 lens, a super-telephoto prime lens with the
                longest focal length in the NIKKOR Z line-up.
              </p>
              <strong>Rs. 5870000</strong><br>
              <a href="details.html" class="btn btn-primary">View Details</a>
              <a href="cart.html" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <!-- product 1 -->
          <div class="card col-md-3 m-2" style="width: 18rem;">
            <img src="../static/images/Nikkor800mm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nikkor 800mm f/6.3</h5>
              <p class="card-text">Introducing the NIKKOR Z 800mm f/6.3 lens, a super-telephoto prime lens with the
                longest focal length in the NIKKOR Z line-up.
              </p>
              <strong>Rs. 5870000</strong><br>
              <a href="details.html" class="btn btn-primary">View Details</a>
              <a href="cart.html" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <!-- product 1 -->
          <div class="card col-md-3 m-2" style="width: 18rem;">
            <img src="../static/images/Nikkor800mm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nikkor 800mm f/6.3</h5>
              <p class="card-text">Introducing the NIKKOR Z 800mm f/6.3 lens, a super-telephoto prime lens with the
                longest focal length in the NIKKOR Z line-up.
              </p>
              <strong>Rs. 5870000</strong><br>
              <a href="details.html" class="btn btn-primary">View Details</a>
              <a href="cart.html" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <!-- product 1 -->
          <div class="card col-md-3 m-2" style="width: 18rem;">
            <img src="../static/images/Nikkor800mm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nikkor 800mm f/6.3</h5>
              <p class="card-text">Introducing the NIKKOR Z 800mm f/6.3 lens, a super-telephoto prime lens with the
                longest focal length in the NIKKOR Z line-up.
              </p>
              <strong>Rs. 5870000</strong><br>
              <a href="details.html" class="btn btn-primary">View Details</a>
              <a href="cart.html" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <!-- product 1 -->
          <div class="card col-md-3 m-2" style="width: 18rem;">
            <img src="../static/images/Nikkor800mm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nikkor 800mm f/6.3</h5>
              <p class="card-text">Introducing the NIKKOR Z 800mm f/6.3 lens, a super-telephoto prime lens with the
                longest focal length in the NIKKOR Z line-up.
              </p>
              <strong>Rs. 5870000</strong><br>
              <a href="details.html" class="btn btn-primary">View Details</a>
              <a href="cart.html" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <!-- product 1 -->
          <div class="card col-md-3 m-2" style="width: 18rem;">
            <img src="../static/images/Nikkor800mm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nikkor 800mm f/6.3</h5>
              <p class="card-text">Introducing the NIKKOR Z 800mm f/6.3 lens, a super-telephoto prime lens with the
                longest focal length in the NIKKOR Z line-up.
              </p>
              <strong>Rs. 5870000</strong><br>
              <a href="details.html" class="btn btn-primary">View Details</a>
              <a href="cart.html" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <!-- product 1 -->
          <div class="card col-md-3 m-2" style="width: 18rem;">
            <img src="../static/images/Nikkor800mm.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nikkor 800mm f/6.3</h5>
              <p class="card-text">Introducing the NIKKOR Z 800mm f/6.3 lens, a super-telephoto prime lens with the
                longest focal length in the NIKKOR Z line-up.
              </p>
              <strong>Rs. 5870000</strong><br>
              <a href="details.html" class="btn btn-primary">View Details</a>
              <a href="cart.html" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="myrow3 row">
      <div class="box col-4">
        <i class="bi bi-geo-alt-fill">Location</i><br>
        Lorem ipsum dolor sit amet consecteturadipisicing elit. Maxime nulla dolor distinctio atque, mollitia
        cum neque. Fugit aut dicta blanditiis
        nostrum minima aspernatur consequuntur repudiandae, possimus quas illo hic magni.
      </div>
      <div class="box col-4">
        Contact Us: <br>
        <i class="bi bi-telephone"></i>9923897788 <br>
        <i class="bi bi-envelope"></i>xyz@gmail.com
      </div>
      <div class="box col-4">
        <a href=""><i class="bi bi-linkedin" style="font-size: 20px;"></i></a><br>
        <a href=""><i class="bi bi-facebook" style="font-size: 20px"></i></a><br>
        <a href=""><i class="bi bi-instagram" style="font-size: 20px;"></i></a><br>
        <a href=""><i class="bi bi-twitter" style="font-size: 20px;"></i></a> <br>
      </div>
    </div>
  </div>
  <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>